<div class="inspector">
  <h3>Configuration</h3>
  <div class="btn-group-vertical" role="group">
    {{#each configurationModes as |mode|}}
      <button type="button"
              class="btn btn-secondary {{if (eq activeMode mode.id) "active"}}"
              {{action "switchMode" mode.id}}>
        {{mode.description}}
      </button>
    {{/each}}
  </div>

  <p class="note">
    Note: In this demo, changing configurations will clear the contents of all local sources.
  </p>

  <h3>Orbit Sources</h3>

  <div class="btn-group" role="group">
    {{#each sources as |source|}}
      <button type="button"
              class="btn btn-secondary {{if (eq activeSource source) "active"}}"
              {{action "switchSource" source}}>
        {{source.name}}
      </button>
    {{/each}}
  </div>

  <h6>Request queue ({{requestQueueLength}})</h6>
  <div class="queue">
    <ul>
    {{#each requestQueueEntries as |entry|}}
      <li>{{entry.data.options.label}}</li>
    {{/each}}
    </ul>
  </div>

  <h6>Sync queue ({{syncQueueLength}})</h6>
  <div class="queue">
    <ul>
    {{#each syncQueueEntries as |entry|}}
      <li>{{entry.data.options.label}}</li>
    {{/each}}
    </ul>
  </div>

  <h6>Transform log ({{transformLogLength}})</h6>
  <div class="queue">
    <ul>
    {{#each transformLogEntries as |entry|}}
      <li>{{entry}}</li>
    {{/each}}
    </ul>
  </div>
</div>
