
<div class="full-contact card">
  <div class="card-block">
    <h2 class="d-flex justify-content-start align-items-center">
      {{gravatar-image email=model.email}}
      {{model.fullName}}
    </h2>
  </div>

  {{#if model.phoneNumbers}}
    <div class="card-block">
      <h4 class="card-title">Phone numbers</h4>
      <ul class="phone-numbers">
        {{#each model.phoneNumbers as |phoneNumber|}}
          <li>{{phoneNumber.phoneNumber}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="card-block">
    <a class="btn btn-secondary" role="button" onclick={{action "edit"}}>Edit</a>
    <a class="btn btn-secondary" role="button" onclick={{action "remove"}}>Remove</a>
  </div>
</div>
